/* Add your css styles here */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#div_one {
  border: 1px solid blue;
  height: 50vh;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div_two {
  height: 25vh;
  width: 500px;
  border: 1px solid blue;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div_three {
  height: 15vh;
  width: 350px;
  border: 1px solid blue;
  background: red;
}
